name: ProTech GitHub Actions

on:
  push:
    branches: [ main ]
    tags:
        - "v*.*.*"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install System Tkinter
        run: sudo apt-get update && sudo apt-get install -y python3-tk

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies with Poetry
        run: poetry install --no-root

      - name: Run Tests
        env:
            PYTHONPATH: .
        run: poetry run pytest

  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install System Tkinter
        run: sudo apt-get update && sudo apt-get install -y python3-tk

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run Pylint
        run: poetry run pylint protech/code.py

      - name: Run TruffleHog Secret Scan
        uses: trufflesecurity/trufflehog@main
        with:
            extra_args: --debug --only-verified --results=verified,unknown
            path: .
            base: ""
            head: ""

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test, quality]
    if: github.ref_type == 'tag'

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Build Project artifacts
        run: poetry build

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
